<div>
  <table class="table-fill">
    <tr>
      <th>ID</th>
      <td>{{hero.id}}</td>
    </tr>
    <tr>
      <th> Name</th>
      <td>{{hero.name}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{hero.description}}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{hero.age}}</td>
    </tr>
    <tr>
      <th>Wood Cost</th>
      <td>{{hero.cost.Wood}}</td>
    </tr>
    <tr>
      <th>Food Cost</th>
      <td>{{hero.cost.Food}}</td>
    </tr>
    <tr>
      <th>Gold Cost</th>
      <td>{{hero.cost.Gold}}</td>
    </tr>
    <tr>
      <th>Built Time</th>
      <td>{{hero.build_time}}</td>
    </tr>
    <tr>
      <th>Reload Time</th>
      <td>{{hero.reload_time}}</td>
    </tr>
    <tr>
      <th>Hit Points</th>
      <td>{{hero.hit_points}}</td>
    </tr>
    <tr>
      <th>Attack</th>
      <td>{{hero.attack}}</td>
    </tr>
    <tr>
      <th>Accuracy</th>
      <td>{{hero.accuracy}}</td>
    </tr>
  </table>
</div>